// color
$base-grey: #F4F4F4
$accent-color: #F43939
$dark-color: #202020
$emphasis-orange: #FF5C00
$emphasis-yellow: #FFD600

// font-decoration
$text-border-white: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF,  0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF